{% for coffee in page.coffee-roasts %}
# [{{coffee.roaster}}]({{coffee.roaster-url}})

## {{coffee.name}}
### Purchase Date
{{coffee.purchase-date}}
### Roast Date
{{coffee.roast-date}}
### Continent
{{coffee.continent}}
### Country
{{coffee.country}}
### Varietal
{{coffee.varietal}}
### Process
{{coffee.process}}
### Flavor Profile
{{coffee.flavor}}

{% if coffee.extras != nil %}
## Sometimes we get extra info about our coffees we can share:
{% for extra in coffee.extras %}
### {{extra[1].title}}
{{extra[1].value}}
{% endfor %}
{% endif %}

{% if forloop.last == false %}
<!--temp breaker until we update site design-->
<br />
<hr />
<br />
{% endif %}

{% endfor %}
